.navbar {
    background-color: black;
    overflow: hidden;
    padding: 0px;
    margin: -10px;
}

.navbar a {
    float: right;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.intro2 {
    background-color: coral;
    border: 0;
    padding: 0px;
    height: 150px;
    margin: -10px;
    
}

.search-txt {
    height: 45px;
    width: 200px;
}


.btn {  
    background-color: orange;
    color: white;
    height: 45px;
    width: 75px;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.btn:hover {
    background-color: rgb(230, 152, 7);

}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
}